* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Oswald";
    src: url(./fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Jost';
    src: url(./fonts/Jost-VariableFont_wght.ttf);
}

body {
    font-family: "Oswald", sans-serif;
    background: rgba(10, 2, 22, 0.94);
    padding: 0 135px;
    color: #FFFFFF;
    
}

header {
    display: flex;
}

.logo {
    color: white;
    display: flex;
    align-items: center;
    height: 76px;
    margin-top: 24px;
    
}

nav {
    flex-grow: 1;
}

.infoMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 23px;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 125%;
    margin: 42px 0 70px 142px;
 
}

.infoMenu a {
    color: #FFFFFF;
    text-decoration: none;

}

.inputBox {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 9px;
    Width: 326px;
    Height: 39px;

}

.inputBox img{
    width: 15px;
    height: 15px;
}

.inputBox input {
    border: 0;
    outline: 0;
    background: transparent;
    color: #FFFFFF;
    font-family: 'Raleway', 'sans-serif';
    font-size: 18px;
    line-height: 21px;
    
}

.infoMenu .login {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #F50395;

}

.categories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 61px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    margin: 42px 0 70px 142px;
    

}

.categories a{
    text-decoration: none;
    color: #FFFFFF;
}

.choices {
    font-family: 'Raleway';

}

/* Header end */
/* Main Start */
/* Main end */

/* Third block start */
.advan {
    display: flex;
    flex-direction: column;

}

.textAdvan {
    width: 519px;
    height: 89px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    color: #FFFFFF;
    margin: 180px 1258px 101px 0;
}

.content {
    width: 1567px;
    height: 468px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}

.card {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 200px;
}

.card h2 {
    margin-top: 75px;
}
/* Third block end */
/* Fourth block start */

.new {
    display: flex;
    flex-direction: column;
}

.column1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px 0 100px;

}

.column2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

.newh2 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    color: #FFFFFF;

}

.showMore {
    width: 280px;
    height: 50px;
    background-image: url(./img/buttons/showButton.svg);
    border: 0;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.6);


}

.mouses {
    width: 390px;
    height: 626px;
    background-image: url(./img/borders/border1.svg);

}

.mouses > img {
    width: 324px;
    height: 337px;
    margin: 33px 33px 0;
}

.articul {
    width: 145px;
    height: 23px;
    font-family: 'Jost';
    font-size: 18px;
    line-height: 125%;
    color: rgba(254, 254, 254, 0.5);
    margin: 28px 212px 2px 33px;

}

.mouseName {
    width: 256px;
    height: 41px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    color: #F50395;
    margin: 0 120px 31px 33px;

}

.priceMouse {
    width: 309px;
    height: 40px;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-align: right;
    color: #FFFFFF;
    margin: 0 33px 10px 48px;

}

.toFav {
    width: 324px;
    height: 48px;
    margin: 0 33px 33px;
    background-image: url(./img/buttons/toFav.svg);
}

/* Fourth block end */
/* promo block start */
.promoSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 330px;

}

.promoh2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    margin-bottom: 100px;

}

.promoBlocks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1650px;

}

.promo2 {
    width: 573px;
    height: 450px;
    margin: 0 10px;
 
}

.promo3 {
    width: 520px;
    height: 450px;
}

/* Promo block end */
/* Fifth block start */
.special {
    display: flex;
    flex-direction: column;
}
.conteiner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.conteiner2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

.specialh2 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    color: #FFFFFF;

}

.showMore {
    width: 280px;
    height: 50px;
    background-image: url(./img/buttons/showButton.svg);
    border: 0;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.6);
  
}

.garniture {
    width: 390px;
    height: 626px;
    background-image: url(./img/borders/border1.svg);

}

.garniture > img {
    width: 324px;
    height: 337px;
    margin: 33px 33px 0;
}

.spArticul {
    width: 145px;
    height: 23px;
    font-family: 'Jost';
    font-size: 18px;
    line-height: 125%;
    color: rgba(254, 254, 254, 0.5);
    margin: 28px 212px 2px 33px;

}

.garnitureName {
    width: 256px;
    height: 41px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    color: #F50395;
    margin: 0 120px 31px 33px;

}

.pricegarn {
    width: 309px;
    height: 40px;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-align: right;
    color: #FFFFFF;
    margin: 0 33px 0px 48px;

}

.toFav {
    width: 324px;
    height: 48px;
    margin: 0 33px 33px;
    background-image: url(./img/buttons/toFav.svg);
}
/* Fifth block end */
/* Sixth block start*/

section h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    margin-bottom: 100px;
}

.newsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30;
    margin-bottom: 200px;
}

.news {
    height: 450px;
    background-image: url(./img/bg1.png);
    background-repeat: no-repeat;
    background-size: contain;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 256px 100px 100px;
    grid-template-areas:    "i i"
                            "h h"
                            "d b";
}

.news h6{
    grid-area: h;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    margin: 0;
    margin-left: 50px;
    width: 550px;

}

.news .date {
    grid-area: d;
    font-family: 'Jost';
    font-size: 20px;
    line-height: 29px;
    align-self: center;
    margin-left: 77px;

}

.news .date::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 22px;
    background-image: url(./img/slash.svg);
}

.news .newsButton {
    grid-area: b;
    background-image: url(./img/buttons/button\ news.png);
    background-repeat: no-repeat;
    margin: 25px 0px 1px -35px;
}
/* Sixth block end */
/* Seventh block start */

.brand {
    display: flex;
    flex-direction: column;


}

.brand h2 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    color: #FFFFFF;
    margin-bottom: 127px;

}

.brandImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
/* Seventh block end */