* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Oswald";
    src: url(./fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Jost';
    src: url(./fonts/Jost-VariableFont_wght.ttf);
}

body {
    font-family: "Oswald", sans-serif;
    background: rgba(10, 2, 22, 0.94);
    
    color: #FFFFFF;
    
}

header {
    display: flex;
    padding: 0 135px;
    gap:calc(20px + 6.2vw);
    flex-wrap: wrap;
    justify-content: center;

}

.logo {
    color: white;
    display: flex;
    align-items: center;
    height: 76px;
    margin-top: 24px;
    
}

nav {
    flex-basis: 500px;
    flex-shrink: 1;
    flex-grow: 1;
}

.infoMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 23px;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 125%;
    margin: 42px 0 70px 142px;
    gap: 10px;

 
}

.infoMenu a {
    color: #FFFFFF;
    text-decoration: none;
    flex-basis: 35px;
    flex-grow: 1;
    flex-shrink: 0;

}

.inputBox {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 9px;
    Width: 326px;
    Height: 39px;

}

.inputBox img{
    width: 15px;
    height: 15px;
}

.inputBox input {
    border: 0;
    outline: 0;
    background: transparent;
    color: #FFFFFF;
    font-family: 'Raleway', 'sans-serif';
    font-size: 18px;
    line-height: 21px;
    
}

.infoMenu .login {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #F50395;

}

.categories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 61px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    margin: 42px 0 70px 142px;
    

}

.categories a{
    text-decoration: none;
    color: #FFFFFF;
}

.choices {
    font-family: 'Raleway';

}

/* Header end */
/* Main Start */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 78px;
    margin-bottom: 180px;
    padding-left: 140px;
    padding-right: 110px;
    padding-top: 60px;
    padding-bottom: 97px;
    flex-wrap: wrap-reverse;
    gap: 75px;

    position: relative;
    
}

.mainBorder {
    position: absolute;

}

.banner > div {
    justify-content: space-around;
    align-items: center;
    flex-basis: 300px;
    flex-grow: 1;
    margin-left: 78px;

}

h1 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 66px;
    line-height: 120%;
}

.banner p {
    font-family: 'Raleway';
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 68px;

}

.banner > div > img{
    width: 100%;
    
}

.btn {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;

    background-image: url(./img/buttons/toFav.svg);
    background-repeat: no-repeat;
    display: flex;
    width: 322px;
    height: 46px;
    justify-content: center;
    align-items: center;
    position: relative;

    
}


/* Main end */

/* Third block start */
.advan {
    display: flex;
    flex-direction: column;

}

.textAdvan {
    width: 519px;
    height: 89px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    color: #FFFFFF;
    margin: 180px 1258px 101px 0;
}

.content {
    width: 1567px;
    height: 468px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}

.card {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 200px;
}

.card h2 {
    margin-top: 75px;
}
/* Third block end */
/* Fourth block start */

.new {
    display: flex;
    flex-direction: column;
}

.column1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px 0 100px;

}

.column2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

.newh2 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    color: #FFFFFF;

}

.showMore {
    width: 280px;
    height: 50px;
    background-image: url(./img/buttons/butpng.png);
    border: 0;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.6);


}

.mouses {
    width: 390px;
    height: 626px;
    background-image: url(./img/borders/border1.svg);

}

.mouses > img {
    width: 324px;
    height: 337px;
    margin: 33px 33px 0;
}

.articul {
    width: 145px;
    height: 23px;
    font-family: 'Jost';
    font-size: 18px;
    line-height: 125%;
    color: rgba(254, 254, 254, 0.5);
    margin: 28px 212px 2px 33px;

}

.mouseName {
    width: 256px;
    height: 41px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    color: #F50395;
    margin: 0 120px 31px 33px;

}

.priceMouse {
    width: 309px;
    height: 40px;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-align: right;
    color: #FFFFFF;
    margin: 0 33px 10px 48px;

}

.toFav {
    width: 324px;
    height: 48px;
    margin: 0 33px 33px;
    background-image: url(./img/buttons/btnToFav.png);
    font-family: 'Jost';
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}

/* Fourth block end */
/* promo block start */
.promoSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 330px;

}

.promoh2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    margin-bottom: 100px;

}

.promoBlocks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1650px;

}

.promo2 {
    width: 573px;
    height: 450px;
    margin: 0 10px;
 
}

.promo3 {
    width: 520px;
    height: 450px;
}

/* Promo block end */
/* Fifth block start */
.special {
    display: flex;
    flex-direction: column;
}
.conteiner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.conteiner2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

.specialh2 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    color: #FFFFFF;

}

.showMore {
    width: 280px;
    height: 50px;
    background-image: url(./img/buttons/showButton.svg);
    border: 0;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.6);
  
}

.garniture {
    width: 390px;
    height: 626px;
    background-image: url(./img/borders/border1.svg);

}

.garniture > img {
    width: 324px;
    height: 337px;
    margin: 33px 33px 0;
}

.spArticul {
    width: 145px;
    height: 23px;
    font-family: 'Jost';
    font-size: 18px;
    line-height: 125%;
    color: rgba(254, 254, 254, 0.5);
    margin: 28px 212px 2px 33px;

}

.garnitureName {
    width: 256px;
    height: 41px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    color: #F50395;
    margin: 0 120px 31px 33px;

}

.pricegarn {
    width: 309px;
    height: 40px;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-align: right;
    color: #FFFFFF;
    margin: 0 33px 10px 48px

}

.toFav {
    width: 324px;
    height: 48px;
    margin: 0 33px 33px;
    background-image: url(./img/buttons/toFav.svg);
    color:#FFFFFF;
}
/* Fifth block end */
/* Sixth block start*/

section h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    margin-bottom: 100px;
}

.newsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30;
    margin-bottom: 200px;
}

.news {
    height: 450px;
    background-image: url(./img/bg1.png);
    background-repeat: no-repeat;
    background-size: contain;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 256px 100px 100px;
    grid-template-areas:    "i i"
                            "h h"
                            "d b";
}

.news h6{
    grid-area: h;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    margin: 0;
    margin-left: 50px;
    width: 550px;

}

.news .date {
    grid-area: d;
    font-family: 'Jost';
    font-size: 20px;
    line-height: 29px;
    align-self: center;
    margin-left: 77px;

}

.news .date::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 22px;
    background-image: url(./img/slash.svg);
}

.news .newsButton {
    grid-area: b;
    background-image: url(./img/buttons/button\ news.png);
    background-repeat: no-repeat;
    margin: 25px 0px 1px -35px;
}
/* Sixth block end */
/* Seventh block start */

.brand {
    display: flex;
    flex-direction: column;


}

.brand h2 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    color: #FFFFFF;
    margin-bottom: 127px;

}

.brandImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
/* Seventh block end */
footer{
    background-color: #050000;
    padding: 140px 0 90px;
}
footer a{
    display: block;
    color: #fff;

    font-family: 'Raleway';
    font-size: 24px;
    line-height: 28px;

    margin-top: 23px;
}

footer h5{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #FF00D7;
    margin-top: 26px;
}

.footer1 .logo{
    padding-bottom: 69px;
}


.footer-header h5{
    padding-bottom: 40px;
}

.footerMenu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 130px;
}

.subFooter {
    color: #645F5F;
    margin-top: 100px;
    width: 100% !important;
    border-top: 1px solid rgba(104, 104, 104, 0.5);
    padding: 0 130px;
}

.subFooter a {
    color: #645F5F;

}
.footerInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.legal{
    display: flex;
    gap: 120px;
    flex-wrap: wrap;

}
.social{
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
    flex-wrap: wrap;

}

.social a{
    margin: 0;
}

.subFooter span{
    font-family: 'Raleway';
    font-size: 20px;
    line-height: 24px;
}

@media (max-width: 1440px){
    .footerMenu{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 950px){
    .footerMenu{
        grid-template-columns: repeat(1, 1fr);
    }
}




/* Second Page */
/* Main */

.breadcrumbs {
    padding: 0 130px;

}

.breadcrumbs a{
    font-family: 'Raleway';
    font-size: 24px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.breadcrumbs a::before {
    content: "/";

}

.breadcrumbs a:first-child::before {
    content: "";
}

body > h2 {
    padding: 0 130px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    color: #FFFFFF;
}

main {
    padding: 0 130px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    

}

aside {
    display: block;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 30px;
    width: 499px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

aside a {
    display: block;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: #F5F5F5;
    margin-top: 26px;
}

aside h5 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    color: #F50395;
    margin-top: 86px;
}

aside > input {
    margin: 74px 0 158px;
}

.catalog {
    flex-grow: 1;
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    height: 136px;
    margin: 77px 0 0 31px;
}

label {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: #F5F5F5;
    margin-bottom: 33px;

}

label .realCheck {
    width: 0px;
    height: 0px;
    opacity: 0;
    position: absolute;
    z-index: -1;

}

label .customCheck {
    display: inline-block;
    width: 23px;
    height: 23px;
    background: linear-gradient(180deg, rgba(8, 1, 20, 0) 0%, rgba(8, 1, 20, 0.4) 26.87%, rgba(8, 1, 20, 0.38) 100%), rgba(10, 2, 22, 0.94);
    border: 2px solid #FBFBFB;
    position: relative;

}

.customCheck::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("./img/secPage/tick2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);

}

.realCheck:checked + .customCheck::before {
    transform: translate(-50%, -50%) scale(1);

}

aside .btn {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-image: url(./img/secPage/acceptbtn.png);
    background-repeat: no-repeat;
    display: flex;
    width: 322px;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 90px;

}

aside .resetbtn {
    margin-top: 30px;
    background-image: url(./img/secPage/resetbtn.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 322px;
    height: 60px;
}


.subcatalog {
    display: flex;
    justify-content: space-between;
    align-items: start;

}

.but {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/secPage/mousesbtn.png);
    background-repeat: no-repeat;
    width: 221px;
    height: 55px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    
}

.secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/secPage/greyBtn.png);
    background-repeat: no-repeat;
    width: 221px;
    height: 55px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.8;

}

.sort {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    margin-top: 58px;

}

.sort span {
    margin-right: 50px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #E4E4E4;
    opacity: 0.7;
}

.sortby {
    margin-right: 72px;
    font-family: 'Raleway';
    font-size: 20px;
    line-height: 23px;
    color: #9D9C9C;

}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1230px;
    height: 3251px;
    margin: 84px 0 30px 58px;
    

}

